.wd-module-icon{
    font-size: 15px;
    padding-top: 2px;
    padding-right: 10px;
}

.wd-main-div {
    left: 220px;
    top: 120px;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .wd-main-div {
        left: 0;
        top: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767.98px) {
    .row > .col, .row > .col-auto {
        flex: 0 0 auto;
        max-width: 100%;
    }
}